
.main-title{

}
.main-trainers{
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
  background-color: pink;
}

.trainer-block{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 350px;
  position: relative;
}

.trainer-img-wrapper{
  position: relative;
  margin-bottom: 20px;
}

.trainer-circle{
  height: 350px;
  width: 350px;
}

.trainer-img{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 252px;
  width: 212px;
}

.trainer-title{
  display: flex;
  justify-content: center;
}
.main-fb-feed{
  margin-top: 50px;
  background-color: red;

}


