.animation-wrapper {
    position: relative;
    max-width: 1400px; /* задаваме максимална ширина на контейнера */
    margin: 0 auto; /* центрираме контейнера */
}

.thunder-animation-mask {
    position: relative;
    overflow-x: clip; /* Вместо hidden - не бута layout, но реже всичко извън */
}

.thunder-animations-container {
    position: absolute;
    top: 0;
    left: 50%; /* Центрираме по хоризонтала */
    transform: translateX(-50%); /* Центрираме */
    width: 100%;
    pointer-events: none; /* ако анимациите не трябва да пречат на съдържание */
}

.left-lines {
    position: absolute;
    left: -190px; /* Това измества картинката извън контейнера наляво */
    top: -110px; /* Подравняваме спрямо контейнера (може да коригирате спрямо нуждите) */
    width: 25vw;  /* Размер на стрелата (може да промениш според нуждите) */
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция - започва от центъра */
    animation: moveOnAngleLeft 0.7s linear forwards;
}

.left-lines.second {
    animation-name: moveOnAngleLeftSecond;
    left: -350px; /* Още по-надолу извън контейнера */
    top: -160px;  /* Може да промениш, за да нагласиш точно позицията */
    animation-delay: 0.3s; /* закъснение за втората лява линия */
}

.right-lines {
    position: absolute;
    right: -100px;
    top: 520px;
    width: 30vw; /* Размер на стрелата (може да коригираш) */
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция - започва от центъра */
    animation: moveOnAngleRight 0.7s linear forwards;
    z-index: 1;
}

.right-lines.second {
    animation-delay: 0.3s; /* закъснение за втората дясна линия */
    right: -290px;
    top: 550px;
    /*top: 40%;
    right: -350px;*/
    animation-name: moveOnAngleRightSecond;
    z-index: 2;
}

/* Анимации */
@keyframes moveOnAngleLeft {
  from {
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция */
  }
  to {
    opacity: 1;
    transform: translate(125.86px, 155.42px); /* Крайна позиция по ъгъл 38,67° */
  }
}

@keyframes moveOnAngleLeftSecond {
  from {
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция */
  }
  to {
    opacity: 1;
    transform: translate(125.86px, 155.42px); /* Крайна позиция по ъгъл 38,67° */
  }
}

@keyframes moveOnAngleRightSecond {
  from {
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция */
  }
  to {
    opacity: 1;
    transform: translate(-125.86px, 155.42px); /* Крайна позиция по ъгъл 38,67° */
  }
}

@keyframes moveOnAngleRight {
  from {
    opacity: 0;
    transform: translate(0px, 0px); /* Начална позиция */
  }
  to {
    opacity: 1;
    transform: translate(-125.86px, 155.42px); /* Крайна позиция по ъгъл 38,67° */
  }
}
