.animation-wrapper {
    position: relative;
    width: 100%;
   overflow-x: clip; /* 👈 Вместо hidden - не бута layout, но реже всичко извън */
}

.thunder-animations-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1400px;
    height: 100%;
    pointer-events: none;
    overflow: visible;
}

/* Леви линии */
.left-lines {
    position: absolute;
    left: -250px; /* спрямо центъра на контейнера */
    top: -30px;
    width: 400px;
    opacity: 0;
    transform-origin: left center;
    animation: moveOnAngleLeft 0.7s linear forwards;
}

.left-lines.second {
    left: -360px;          /* по-наляво спрямо центъра */
    top: -30px;             /* оставяме както преди */
    width: 350px;
    transform: scaleY(1.25);
    animation: moveOnAngleLeftSecond 0.7s linear forwards;
    animation-delay: 0.3s;
}

/* Десни линии */
.right-lines {
    position: absolute;
    right: -170px;
    top: 760px;
    width: 370px;
    opacity: 0;
    transform: scaleY(1.4);
    animation: moveOnAngleRight 0.7s linear forwards;
    z-index: 1;
}

.right-lines.second {
    right: -240px;
    top: 810px;
    width: 330px;
    opacity: 0;
    transform: scaleY(1.4);
    animation: moveOnAngleRightSecond 0.7s linear forwards;
    animation-delay: 0.3s;
    z-index: 2;
}

/* Анимации */
@keyframes moveOnAngleLeft {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(125.86px, 155.42px);
  }
}

@keyframes moveOnAngleLeftSecond {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(125.86px, 155.42px);
  }
}

@keyframes moveOnAngleRight {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(-125.86px, 155.42px);
  }
}

@keyframes moveOnAngleRightSecond {
  from {
    opacity: 0;
    transform: translate(0px, 0px);
  }
  to {
    opacity: 1;
    transform: translate(-125.86px, 155.42px);
  }
}
