# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
/node_modules
dist
.cache
/nextjs-app/.idea
/.next
out/
dist/
.idea
/nextjs-app/.next/
/.contentlayer/
/.gitignore
/.env.local
.env.*.local
/nextjs-app/node_modules/
**/node_modules/

**/node_modules/
.next/
out/
dist/
.env*
.idea/
